* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  text-align: center;
}

.container {
  width: 100%;
}

.container__sidebar {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: inset -10px -10px 20px -2px rgba(0, 0, 0, 0.27);
          box-shadow: inset -10px -10px 20px -2px rgba(0, 0, 0, 0.27);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  height: 100vh;
  margin: 0 auto;
}

.header {
  width: 25%;
  height: 100vh;
  text-align: center;
}

.header__logo {
  margin-bottom: 20px;
}

.header__img {
  width: 80%;
  margin-top: 15px;
  border-radius: 20px;
}

.header__text {
  margin-bottom: 20px;
  font-size: 25px;
}

.header__link {
  padding: 0 15px;
  padding-bottom: 5px;
  font-size: 20px;
  color: #f9f5ed;
  text-shadow: 1px 1px 1px #000;
  -webkit-box-shadow: inset -5px -5px 10px -2px rgba(0, 0, 0, 0.27);
          box-shadow: inset -5px -5px 10px -2px rgba(0, 0, 0, 0.27);
}

.nav__li {
  height: 30px;
  line-height: 30px;
}

.nav__li-active {
  background-color: rgba(160, 160, 160, 0.3);
}

.nav__li:hover {
  background-color: rgba(160, 160, 160, 0.3);
}

.nav__li:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nav__link {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

.main {
  width: 75%;
  height: 100vh;
  padding: 15px 10px;
}

.main__block {
  display: none;
  height: 100vh;
}

.main__block-active {
  display: block;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: show 3s 1;
          animation: show 3s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.main__title {
  text-align: center;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.work__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100px;
  background: #000;
  color: white;
}

.work__img--template, .work__img--programm {
  width: 100%;
  height: 100%;
}

.task {
  width: 100%;
}

.task__img {
  width: 100%;
}

.task__code {
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer {
  height: 40px;
}

.footer .container {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 956px) {
  .wrapper {
    width: 100%;
  }
  .header__title {
    font-size: 1.5em;
  }
  .header__text {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=style.css.map */