@import url('normalize.css');

* {
    margin: 0;
    padding: 0;
}
body {
    color: #ccc;
    /*background: url(../img/fon2.jpg) no-repeat center top / cover;*/
    background: #000;
}

h1 {
    font-size: 3em;
    text-align: center;
    text-shadow: 1px 1px 3px #ccc;
}

select {
    padding: 5px;
    text-align: center;
}
select, input {
    width: 300px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
    background-color: black;
}

/******************** header ******************/

.beta {
    position: absolute;
    top: 0;
    right: 0;
}

.beta img {
    height: 200px;
}

.logo {
    width: 100%;
}

nav {
    width: 100%;
}

.button_menu {
    position: relative;
    float: right;
    /*display: none;*/
    width: 30px;
    height: 40px;
    background: #fff;
    border-radius: 10%;
}

.button_menu span,
.button_menu span::before,
.button_menu span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background: #222;
}

.button_menu span::before,
.button_menu span::after {
    content: '';
    display: block;
    transition: 0.2s;
}

.button_menu span::before {
    transform: translateY(-5px);
}

.button_menu span::after {
    transform: translateY(5px);
}

.button_menu_active {
    width: 40px;
    border-radius: 50%;
}

.button_menu_active span {
    height: 0px;
}
.button_menu_active span::before {
    transform: rotate(45deg);
}

.button_menu_active span::after {
    transform: rotate(-45deg);
}

.menu {
    width: 55%;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    /*background: yellow;*/
}
.menu.active {
    display: block;
}

.menu li {
    padding: 5px 15px;
}

nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    color: #ccc;
}

/************ main ***********/
.container.flex {
    display: flex;
}
.artist_music {
    flex: 1;
    width: 300px;
    text-align: center;
    /*background: green;*/
}

.artist_setting {
    margin-top: 20px;
}

.select_list {
    float: right;
    width: 300px;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
}

.artist_music img {
    width: 300px;
}

#music {
    border: none;
    width: 300px;
    height: 100px;
}
#music_albom {
    border:none;
    width:300px;
    height:400px;
}


.artist_info {
    flex: 2;
    /*width: 650px;*/
    height: 650px;
    padding: 0;
    /*background: yellow;*/
}

.artist_info aside {
    text-align: center;
}

.artist_info aside p {
    font-weight: bold;
    font-style: italic;
}

.artist_info figure {
    width: 100%;
    background: #fff;
}

.artist_info figure img {
    width: 98%;
    border: 5px solid #fff;
}

figcaption {
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: #191b18;
    background: #fff;
}

img#uroven {
    width: 300px;
}

/*********** footer ****************/

