* {
    margin: 0;
    padding: 0;
}

.header-1 {
    height: 100vh;
    background: url(img/girl.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-1 h1 {
    font-size: 9rem;
    mix-blend-mode: color-dodge;
}