<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Мы производим детали для кузовного ремонта автомобилей и отправляем их по всей России с 2015 года. Устанавливаем ремонтные детали и восстанавливаем кузов">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container container__flex">
            <div class="logo">
                <h1 class="logo__title">
                    кузовпро
                </h1>
            </div>
            <!-- /.logo -->
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            главная
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            примеры установки
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            доставка и оплата
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            контакты
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            каталог деталей
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            отследить заказ
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.nav -->
            <div class="phone">
                <p class="phone__number">
                    +7 (964) 732 20 73
                </p>
            </div>
            <!-- /.phone -->
        </div>
        <!-- /.container -->
    </header>
    <main class="main">
        <div class="container"></div>
        <!-- /.container -->
    </main>
    <footer class="footer">
        <div class="container"></div>
        <!-- /.container -->
    </footer>
</body>
</html>