<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Oxygen</title>
</head>
<body>
    <nav class="nav">
        <div class="nav__logo">
            
        </div>
        <!-- /.nav__logo -->
        <ul class="nav__menu">
            <li class="nav__item">
                <a href="" class="nav__link">home</a>
            </li>
            <li class="nav__item">
                <a href="" class="nav__link">about us</a>
            </li>
            <li class="nav__item">
                <a href="" class="nav__link">portfolio</a>
            </li>
            <li class="nav__item">
                <a href="" class="nav__link">our team</a>
            </li>
            <li class="nav__item">
                <a href="" class="nav__link">blog</a>
            </li>
            <li class="nav__item">
                <a href="" class="nav__link">contact</a>
            </li>
        </ul>
        <!-- /.nav__menu -->
    </nav>
    <!-- /.nav -->
    <header class="header"></header>
    <main class="main"></main>
    <footer class="footer"></footer>
</body>
</html>