@font-face () {
  font-family: "'Courier New'";
  src: url("../fonts/7170.ttf");
}

@font-face {
  font-family: 'Playfair Display';
  src: local("Playfair Display Bold"), local("PlayfairDisplay-Bold"), url("../fonts/playfairdisplaybold.woff2") format("woff2"), url("../fonts/playfairdisplaybold.woff") format("woff"), url("../fonts/playfairdisplaybold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
  min-height: 100%;
}

ul {
  list-style: none;
}

.d-flex_wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

li a {
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.small {
  text-transform: lowercase;
}

.header {
  padding-top: 20px;
}

.logo {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  width: 69px;
  height: 79px;
}

.logo__img img {
  width: 100%;
  height: 100%;
}

.logo__title {
  margin-left: 10px;
  font-family: Helvetica, sans-serif;
}

.logo__title h1 {
  font-size: 30px;
}

.telephone {
  width: 30%;
  text-align: right;
}

.telephone__text {
  font-family: Arial, helvetica, sans-serif;
  font-size: 34px;
  color: #000;
}

.telephone__tagline {
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  color: #555555;
}

.contacts {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts__link {
  margin-right: 20px;
}

.back {
  width: 132px;
  height: 57px;
  text-align: center;
}

.back__link {
  cursor: pointer;
  font-size: 27px;
  text-decoration: none;
  padding: 6px 23px;
  color: #000000;
  border-radius: 0px;
  border: 1px solid #bfbfbf;
}

.back__link:hover {
  text-decoration: none;
  color: black;
}

.nav {
  border-radius: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, #f7faf7), color-stop(70%, #dedcde));
  background: linear-gradient(to bottom, white 0%, #f7faf7 50%, #dedcde 70%);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav__btn {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.nav__item {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  border-right: 1px solid black;
}

.nav__item_active {
  background: -webkit-gradient(linear, left top, left bottom, from(#C64C39), to(#EF786B));
  background: linear-gradient(to bottom, #C64C39, #EF786B);
}

.nav__item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#C64C39), to(#EF786B));
  background: linear-gradient(to bottom, #C64C39, #EF786B);
}

.nav__item:hover .submenu {
  display: block;
}

.nav__item:nth-child(4) {
  border: 0px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.nav__link:hover {
  text-decoration: none;
  color: #000000;
}

.submenu {
  position: absolute;
  z-index: 9999;
  top: 50px;
  left: 0px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 1px 2px #cccccc;
          box-shadow: 1px 1px 1px 2px #cccccc;
  padding: 0;
  display: none;
}

.submenu__item {
  height: 20px;
  line-height: 20px;
  padding-right: 5px;
  padding-left: 5px;
  text-transform: none;
  white-space: nowrap;
  background-color: #fff;
}

.submenu__item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.submenu__item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.submenu__item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#C64C39), to(#EF786B));
  background: linear-gradient(to bottom, #C64C39, #EF786B);
}

.submenu__link {
  color: #000;
}

.main__title {
  padding-top: 40px;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
}

.slider__slide {
  position: relative;
}

.slider__title {
  padding-top: 30px;
  padding-bottom: 0;
  text-align: center;
  font-family: "Courier New";
  font-size: 50px;
  font-weight: bold;
  word-wrap: break-word;
  border-bottom: 1px solid #f5f5f5;
}

.slider__img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.service {
  position: absolute;
  width: 20%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Courier New';
  font-size: 15px;
  font-weight: bold;
  color: #555555;
  border-bottom: 3px solid #E7594A;
}

.service__1 {
  top: 30%;
  right: 15%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.service__2 {
  top: 40%;
  left: 30%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.service__3 {
  width: 350px;
  top: 85%;
  left: 23%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.service__4 {
  width: 300px;
  top: 78%;
  left: 55%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.service__price {
  padding-top: 25px;
  padding-left: 5px;
  color: #EA5848;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.block__small {
  width: 25%;
}

.block__big {
  width: 33.3%;
}

.block__text {
  font-family: 'Courier New';
  width: 100%;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.advantages__shadow {
  -webkit-box-shadow: 0 -6px 10px #A5A6A5;
          box-shadow: 0 -6px 10px #A5A6A5;
}

.advantages__figure {
  position: relative;
}

.advantages__small {
  width: 25%;
}

.advantages__big {
  width: 33.3%;
}

.advantages__img {
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages__link {
  font-family: 'Playfair Display' serif;
  font-weight: bold;
  font-size: 23px;
  color: #000;
}

.advantages__link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.advantages__link:hover_bold {
  font-size: 18px;
}

.figure__slide {
  width: 80%;
  position: relative;
}

.figure__slogan {
  position: absolute;
  bottom: 0;
  width: 295px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.figure__link {
  color: #000;
  font-family: 'Playfair Display' serif;
  font-weight: 700;
  font-size: 23px;
}

.figure__link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.figure__text {
  word-spacing: 0;
  word-wrap: break-word;
  font-size: 15px;
}

.figure__text_bottom {
  margin-top: 40px;
}

.figure__text_big {
  font-size: 18px;
}

.text__1 {
  font-size: 18px;
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
}

.text__2 {
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
}

.text__extra-large {
  font-size: 36px;
}

.text__color {
  color: #979391;
}

.text__big {
  font-size: 22px;
}

.text__gread {
  font-weight: bold;
  font-size: 30px;
}

@media (min-width: 1200px) {
  .advantages__text-slogan {
    bottom: 45px;
  }
}

@media (max-width: 1199px) {
  .advantages__text-slogan {
    font-size: 1.2em;
    bottom: 70px;
  }
}

@media (max-width: 991px) {
  .telephone__tagline {
    /*css*/
  }
  .advantages__img {
    width: 100%;
  }
  .advantages__text-slogan {
    width: 100%;
  }
  .advantages__big {
    width: 50%;
  }
  .advantages__link {
    font-size: 1em;
  }
  .block__big {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .d-flex_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .logo {
    width: 100%;
  }
  .telephone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .telephone__text, .telephone__tagline {
    display: block;
    width: 100%;
  }
  .telephone__tagline {
    height: 50px;
    line-height: 50px;
  }
  .nav {
    height: auto;
  }
  .nav__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item, .nav__item:nth-child(4) {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .nav__btn {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 8px;
  }
  .nav__line, .nav__line::before, .nav__line::after {
    position: absolute;
    top: 50%;
    margin-top: 1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background: #222222;
  }
  .nav__line::before, .nav__line::after {
    content: '';
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav__line::before {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .nav__line::after {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  .nav__btn-active .nav__line {
    height: 0;
  }
  .nav__btn-active .nav__line::before {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  .nav__btn-active .nav__line::after {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  .advantages__small {
    width: 50%;
  }
  .advantages__big {
    width: 100%;
    margin: 0;
  }
  .advantages__img {
    width: 80%;
  }
  .advantages__text {
    text-align: center;
  }
  .advantages__text-slogan {
    width: 80%;
  }
  .figure {
    width: 100%;
  }
  .figure__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text__1, .text__2 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 576px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo__img {
    padding-left: 10px;
  }
  .telephone__text {
    text-align: center;
  }
  .telephone__tagline {
    padding-right: 10px;
  }
}

@media (max-width: 350px) {
  .telephone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .telephone__text, .telephone__tagline {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .main__title {
    font-size: 43px;
  }
  .advantages__small {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */