body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #000;
}

.small {
  text-transform: lowercase;
}

.header {
  padding-top: 20px;
}

.logo {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  width: 69px;
  height: 79px;
}

.logo__img img {
  width: 100%;
  height: 100%;
}

.logo__title {
  margin-left: 10px;
  font-family: Helvetica, sans-serif;
}

.logo__title h1 {
  font-size: 30px;
}

.telephone {
  width: 30%;
  text-align: right;
}

.telephone__text {
  font-family: Arial, helvetica, sans-serif;
  font-size: 34px;
  color: #000;
}

.telephone__tagline {
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  color: #555555;
}

.contacts {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts__link {
  margin-right: 20px;
}

.back {
  width: 132px;
  height: 57px;
  text-align: center;
}

.back__link {
  cursor: pointer;
  font-size: 27px;
  text-decoration: none;
  padding: 6px 23px;
  color: #000000;
  border-radius: 0px;
  border: 1px solid #bfbfbf;
}

.nav {
  border-radius: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, #f7faf7), color-stop(70%, #dedcde));
  background: linear-gradient(to bottom, white 0%, #f7faf7 50%, #dedcde 70%);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav__list {
  list-style: none;
  height: 100%;
}

.nav__item {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  border-right: 1px solid black;
}

.nav__item_active {
  background: -webkit-gradient(linear, left top, left bottom, from(#C64C39), to(#EF786B));
  background: linear-gradient(to bottom, #C64C39, #EF786B);
}

.nav__item:nth-child(4) {
  border: 0px;
}

.nav__item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#C64C39), to(#EF786B));
  background: linear-gradient(to bottom, #C64C39, #EF786B);
}

.nav__link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.nav__link:hover {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 991px) {
  .telephone__tagline {
    /* width: 250px
            border: 1px solid black*/
  }
}

@media (max-width: 767px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .logo {
    width: 100%;
  }
  .telephone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .telephone__text, .telephone__tagline {
    display: block;
    width: 100%;
  }
  .telephone__tagline {
    height: 50px;
    line-height: 50px;
  }
  .nav {
    height: auto;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item, .nav__item:nth-child(4) {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}

@media (max-width: 576px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .telephone__text {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */