@import "fonts"
    
body
    font-family: Arial, Helvetica, sans-serif
    background: #fff
    color: #000
    min-height: 100%
    
ul
    list-style: none

.d-flex
    &_wrap
        justify-content: center
        flex-wrap: wrap

li a
    text-decoration: none
li a:hover
    text-decoration: none
    color: #000
    cursor: pointer

.small
    text-transform: lowercase

.header
    padding-top: 20px

.logo
    width: 70%
    display: flex
    &__img
        width: 69px
        height: 79px
        img
            width: 100%
            height: 100%
    &__title
        margin-left: 10px
        font-family: Helvetica, sans-serif
        h1
            font-size: 30px

.telephone
    width: 30%
    text-align: right
    //background: green
    &__text
        font-family: Arial, helvetica, sans-serif
        font-size: 34px
        color: #000
    &__tagline
        font-family: monospace
        font-size: 18px
        font-weight: bold
        color: #555555

.contacts
    justify-content: flex-end
    &__link
        margin-right: 20px
.back
    width: 132px
    height: 57px
    text-align: center
    &__link
        cursor: pointer
        font-size: 27px
        text-decoration: none
        padding: 6px 23px
        color: #000000
        border-radius: 0px
        border: 1px solid #bfbfbf
    &__link:hover
        text-decoration: none
        color: black

.nav
    border-radius: 8px
    justify-content: center
    height: 50px
    background: rgb(255,255,255)
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(247,250,247,1) 50%, rgba(222,220,222,1) 70%)
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
    &__btn
        display: none
    &__list
        display: flex
        height: 100%
    &__item
        position: relative
        display: block
        height: 50px
        line-height: 50px
        padding-left: 20px
        padding-right: 20px
        text-transform: uppercase
        text-align: center
        font-size: 10px
        font-weight: bold
        border-right: 1px solid black
        &_active
            background: linear-gradient(to bottom, #C64C39, #EF786B)
        &:hover
            background: linear-gradient(to bottom, #C64C39, #EF786B)
            .submenu
                display: block
    &__item:nth-child(4)
        border: 0px
    &__link
        color: #000
        text-decoration: none
        cursor: pointer
    &__link:hover
        text-decoration: none
        color: #000000
        
.submenu
    position: absolute
    z-index: 9999
    top: 50px
    left: 0px
    border-radius: 10px
    box-shadow: 1px 1px 1px 2px #cccccc
    padding: 0
    display: none
    &__item
        height: 20px
        line-height: 20px
        padding-right: 5px
        padding-left: 5px
        text-transform: none
        white-space: nowrap
        background-color: #fff
    &__item:first-child
        border-top-left-radius: 10px
        border-top-right-radius: 10px
    &__item:last-child
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
    &__item:hover
        background: linear-gradient(to bottom, #C64C39, #EF786B)
    &__link
        color: #000
.main
    &__title
        padding-top: 40px
        font-size: 45px
        font-weight: bold
        text-align: center
        word-wrap: break-word
        //background-color: #cccccc

.slider
    &__slide
        position: relative
        //background-color: #ccc
    &__title
        padding-top: 30px
        padding-bottom: 0
        text-align: center
        font-family: "Courier New"
        font-size: 50px
        font-weight: bold
        word-wrap: break-word
        border-bottom: 1px solid #f5f5f5
    &__img
        width: 50%
        display: block
        margin: 0 auto

.service
    position: absolute
    width: 20%
    height: 45px
    display: flex
    font-family: 'Courier New'
    font-size: 15px
    font-weight: bold
    color: rgb(85, 85, 85)
    border-bottom: 3px solid #E7594A
    &__1
        top: 30%
        right: 15%
        justify-content: flex-end
    &__2
        top: 40%
        left: 30%
        justify-content: flex-start
    &__3
        width: 350px
        top: 85%
        left: 23%
        justify-content: flex-start
    &__4
        width: 300px
        top: 78%
        left: 55%
        justify-content: flex-end
    &__price
        padding-top: 25px
        padding-left: 5px
        color: #EA5848

.advantages
    display: flex
    margin-top: 40px
    &__shadow
        box-shadow: 0 -6px 10px #A5A6A5
    &__figure
        position: relative
    &__small
        width: 25%
    &__big
        width: 33.3%
    &__img
        object-position: 50% 50%
        object-fit: cover
    /*&__text
        margin-top: 20px
        word-spacing: 0
        font-size: 18px
        font-weight: bold*/
        
    &__link
        font-family: 'Playfair Display' serif
        font-weight: bold
        font-size: 23px
        color: #000
    &__link:hover
        text-decoration: none
        cursor: pointer
        color: #000
            
        &_bold
            font-size: 18px

.figure
    &__slide
        width: 80%
        position: relative
    &__slogan
        position: absolute
        bottom: 0
        width: 295px
        padding-right: 10px
        padding-left: 10px
        background-color: rgba(255, 255, 255, 0.5)
        //border: 1px solid black
    &__link
        color: #000
        font-family: 'Playfair Display' serif
        font-weight: 700
        font-size: 23px
    &__link:hover
        text-decoration: none
        cursor: pointer
        color: #000
    &__text
        margin-top: 20px
        word-spacing: 0
        font-size: 15px
        &_big
            font-size: 18px
    .text_1
        flex: 35%
    .text_2
        flex: 75%
    
    

@import "phone"