.fixed_sidebar
    position: fixed
    left: 0
    top: 0
    height: 100vh
    padding: 5px
    background: rgba(41, 61, 87, 0.8)
    ul
        li
            border: 1px solid rgb(122, 133, 149)
            padding: 15px 0
            text-align: center
            a
                font-weight: bold
                color: rgb(122, 133, 149)
            a:hover
                color: #fff