<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,100;1,200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Портфолио</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="avatar"></div>
                <nav class="nav"></nav>
            </div>
            <!-- /.header__inner -->
        </div>
        <!-- /.container -->
    </header>
    <!-- /.header -->
    <script src="js/script.js"></script>
</body>

</html>