<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Loop</title>
</head>

<body>
    <div class="page page-light">
        <div class="wrapper">
            <header>
                <nav>
                    <ul class="nav">
                        <li class="nav__item">Для мужчин</li>
                        <li class="nav__item">Дляя женщин</li>
                        <li class="nav__item">Для детей</li>
                    </ul>
                </nav>
                <img src="img/logo.svg" alt="">
                <ul class="nav">
                    <li class="nav__item">Оплата</li>
                    <li class="nav__item">Доставка</li>
                </ul>
                <div class="cart"><span>5</span></div>
            </header>
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.page page-light -->
</body>

</html>