
@media screen and (max-width: 1000px) { 
	.index {
		background-color: var(--white);
		&__main_title {
			p {
				font-size: 9em;
				margin-top: .3em;
			}
		}


		&__subtitle {
			p {
				margin: 0 auto;
				margin-top: 0.5em;
				line-height: 1.25em;
				font-size: 4.5em;
				max-width: 20em;
			}
		}

		&__main_info-more {
			p {
				font-size: 3.25em;
			}
		}

		&__arrow-after-info-more {
			img {
				width: 3.5em;
				height: 16em;
			}
		}

		&__title-main_description {
			p {
				font-size: 3.25em;
				line-height: 4.25rem;	
				max-width: 24.75em;
			}
		}

		&__info-title {
			.number {
				left: -1.1em;
				top: -1.25em;
				font-size: 3.25em;
				line-height: 4.25rem;	
			}
			p {
				font-size: 9em;
				line-height: 11.5rem;
			}
		}

		&__info-text {
			align-self: end;
			p {
				margin: 0;
				font-size: 3.25em;
				line-height: 4.25rem;
			}
		}

		&__info-link {
			a {
				font-size: 3.25em;
				line-height: 4.25rem;
				height: 3em;
			}
		}




		&__news-title {
			margin-left: 4em;
			margin-top: 3em;
			p {
				font-size: 9em;
			}
		}

		&__news-image {
			img {
				width: 80em;
				height: 50em;
			}
		}

		&__news__point {
			margin-top: -.5em;
			.bg-border {
				position: absolute;
				top: 5.5em;
				left: 5em;
				width: 75em;
				height: 70em;
			}
			.date {
				margin-top: -2em;
				font-size: 3.25em;
				line-height: 4.25rem;
			}
			.point {
				width: 75em;
				height: 70em;
				padding: 7em 4.5em;
				.title {
					font-size: 3.5em;
					line-height: 4.5rem;
					margin-bottom: 4.5rem;
				}
				.text {
					font-size: 3.25em;
					line-height: 4.25rem;
				}
			}
		}


		&__feedback {
			width: 80em;
			height: 55em;
			padding: 10em 5em;
			.feedback__form {
				label {
					font-size: 3.5em;
					line-height: 4.5rem;
					margin-bottom: 1.6em;
				}
				input {
					width: 69.75rem;
					height: 10rem;
					font-size: 3.25rem;
					line-height: 4.25rem;
					margin-right: 0;
					padding: 0 1em;
					margin-bottom: .8em;
					text-align: center;
				}
				button {
					width: 69.75rem;
					height: 10rem;
					font-size: 3.25em;
					line-height: 4.25rem;
				}
			}
		}

		&__command-image {
			img {
				width: 80em;
				height: 70em;
			}
		}

		&__contact-point {
			width: 75em;
			height: 95em;
		}

		&__contact-description {
			padding: 7.5em 5em;
			p {
				margin-bottom: 1em;
				font-size: 3.25em;
				line-height: 4.25rem;
			}
		}

		&__contact-map {
			iframe {
				display: none;
			}
		}

	}

}