<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Котельников Роман https://vk.com/kotelnikovroma">
    <meta name="robots" content="index">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link href="https://fonts.googleapis.com/css?family=Mali&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Mali&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
    <aside class="fixed_sidebar">
        <ul>
            <li>
                <a href="" class="active_menu">войти</a>
                <ul class="menu_input">
                    <li><a href="">войти</a></li>
                    <li><a href="">зарегистрироваться</a></li>
                </ul>
            </li>
            <li>
                <a href="">курсы</a>
            </li>
            <li>
                <a href="">задачи</a>
            </li>
            <li>
                <a href="">проекты</a>
            </li>
            <li>
                <a href="">опросы</a>
            </li>
            <li>
                <a href="">чат</a>
            </li>
            <li>
                <a href="">форум</a>
            </li>
            <li>
                <a href="">подписка</a>
            </li>
            <li>
                <a href="">помощь</a>
            </li>
            <li><a href="#">нас уже<br><span>57</span></a></li>
        </ul>
    </aside>
    <header>
        <div class="container content_flex">
            <div class="logo">
                <h1><a href="">web<span>school</span></a></h1>
            </div>
            <!-- /.logo -->
            <nav class="content_flex">
                <ul class="content_flex">
                    <li><a href="#web" class="anchor__link" data-target="anchor">web</a></li>
                    <li><a href="#about" class="anchor__link" data-target="anchor">о нас</a></li>
                    <li><a href="#comments" class="anchor__link" data-target="anchor">отзывы</a></li>
                </ul>
                <button>начать обучение</button>
            </nav>
        </div>
        <!--container-->
        <div class="container">
            <section class="slidestuff">
                <!--сылки для устаревших браузеров-->
                <a href="#a" title="Content A">Content A</a>
                <a href="#b" title="Content B">Content B</a>
                <a href="#c" title="Content C">Content C</a>
                <a href="#d" title="Content D">Content D</a>
                <!-- ссылки для щелчка -->
                <!--если слаид A посмотреть слайд D или B -->
                <span id="g-go-last" class="no-jump"></span>
                <a href="#g-go-3" class="g-go-last" title="" tabindex="-1"></a>
                <a href="g-go-first" id="d-go-2" title="" tabindex="-1"></a>
                <!--если слаид B посмотреть слайд A или C -->
                <span id="g-go-first" class="no-jump"></span>
                <a href="#g-go-last" class="g-go-first" tabindex="-1"></a>
                <a href="#g-go-2" title="" id="d-go-3" tabindex="-1"></a>
                <!--если слаид C посмотреть слайд B или D -->
                <span id="g-go-2" class="no-jump"></span>
                <a href="#g-go-first" title="" class="g-go-2" tabindex="-1"></a>
                <a href="#g-go-3" title="" id="g-go-last" tabindex="-1"></a>
                <!--если слаид D посмотреть слайд C или A -->
                <span id="g-go-3" class="no-jump"></span>
                <a href="#g-go-2" title="" class="g-go-3" tabindex="-1"></a>
                <a href="#g-go-last" title="" id="d-go-first" tabindex="-1"></a>
                <!-- ползунок -->
                <section class="sider">
                    <div class="fixeOpera">
                        <a id="a"></a>
                        <article class="first">
                            <aside>
                                <figure>
                                    <img src="img/slide_1.jpg" alt="">
                                    <figcaption>Cocotiers</figcaption>
                                </figure>
                            </aside>
                            <section>
                                <div class="slider_header">
                                    <h1>A noixem cocotum</h1>
                                </div>
                                <!-- /.slider_header -->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempore ipsam in placeat corporis, laudantium iusto facilis omnis quae dolor provident sed ipsum odio incidunt culpa error inventore mollitia cupiditate earum nemo voluptatem eius! Aut quos officiis facilis minus optio doloribus est, quas voluptate consequatur voluptatem, id nihil excepturi deserunt.</p>
                                <div class="footer_slider">
                                    <a href="">Just a link</a> dolor sit amet consectetur.
                                </div>
                            </section>
                        </article>
                        <a id="b"></a>
                        <article>
                            <aside>
                                <figure>
                                    <img src="img/slide_2.jpg" alt="">
                                    <figcaption>
                                        Pensee
                                    </figcaption>
                                </figure>
                            </aside>
                            <section>
                                <div class="slider_header">
                                    <h1>Lorem, ipsum dolor.</h1>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus numquam quaerat, beatae excepturi exercitationem labore, tempore minima, tempora vero ipsum harum mollitia pariatur ad voluptas architecto. Voluptatibus eligendi itaque, nisi vero blanditiis ipsam praesentium cumque? Quod facilis aut placeat praesentium error doloribus minus eum obcaecati officiis, hic natus et. Error?</p>
                                <div class="footer_slider">
                                    <a href="">Just link</a> dolor sit amet consectetur.
                                </div>
                            </section>
                        </article>
                        <!-- /.first -->
                        <a id="c"></a>
                        <!-- /#c -->
                        <article>
                            <aside>
                                <figure>
                                    <img src="" alt="">
                                    <figcaption></figcaption>
                                </figure>
                            </aside>
                        </article>
                    </div>
                    <!-- /.fixeOpera -->
                </section>
                <!-- /.sider -->
            </section>
            <!-- /.slidestuff -->
            <div class="slogan">
                <h2>стань крутым<br> программистом</h2>
                <p>webshcool - это крутые онлайн курсы с кучей заданей<br>
                Примеров используемых на практике<br>
                И куча допительных фичей для програмистов</p>
            </div>
            <!-- /.slogan -->
        </div>
        <!-- /.container -->
    </header>
    <main>
        <div class="container">
            <div id="web">
                <h2>web курс</h2>
            </div>
            <!-- /#web -->
            <div id="about">
                    <h2>о нас</h2>
            </div>
            <!-- /#about -->
            <div id="comments">
                    <h2>отзывы</h2>
            </div>
            <!-- /#comments -->
        </div>
        <!--container-->
    </main>
    </div>
    <footer>
        <div class="container">footer</div>
        <!--container-->
    </footer>
    <!--для разработки-->
    <!--использовать после окончания разработки
    <script src="js/jquery-3.4.1.min.js"></script>
    -->
    <script src="js/modernizr-custom.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>