<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Котельников Роман https://vk.com/kotelnikovroma">
    <meta name="robots" content="index">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <aside class="fixed_sidebar">
        <ul>
            <li>
                <a href="" class="active_menu">войти</a>
                <ul class="menu_input">
                    <li><a href="">войти</a></li>
                    <li><a href="">зарегистрироваться</a></li>
                </ul>
            </li>
            <li><a href="">курсы</a></li>
            <li><a href="">задачи</a></li>
            <li><a href="">проекты</a></li>
            <li><a href="">опросы</a></li>
            <li><a href="">чат</a></li>
            <li><a href="">форум</a></li>
            <li><a href="">подписка</a></li>
            <li><a href="">помощь</a></li>
            <li><a href="#">нас уже<br><span>57</span></a></li>
        </ul>
    </aside>
    <header>
        <div class="container content_flex">
            <div class="logo">
                <h1><a href="">web school</a></h1>
            </div>
            <!-- /.logo -->
            <nav class="content_flex">
                <ul class="content_flex">
                    <li><a href="">отзывы</a></li>
                    <li><a href="">о нас</a></li>
                    <li><a href="">web</a></li>
                </ul>
                <button>начать обучение</button>
            </nav>
        </div>
        <!--container-->
    </header>
    <main>
        <div class="container">main</div>
        <!--container-->
    </main>
    <footer>
        <div class="container">footer</div>
        <!--container-->
    </footer>
    <!--для разработки-->
    <!--использовать после окончания разработки
    <script src="js/jquery-3.4.1.min.js"></script>
    -->
    <script src="js/modernizr-custom.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>