<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <nav class="nav">
        <div class="container">
            <div class="nav__logo">
                <h1 class="nav__title">
                    <a href="index.html" class="nav__link">minecraft</a>
                </h1>
            </div>
            <ul class="nav__list">
                <li class="nav__item"><a href="" class="nav__link">Правила</a></li>
                <li class="nav__item"><a href="" class="nav__link">Начать играть</a></li>
                <li class="nav__item"><a href="" class="nav__link">О нас</a></li>
            </ul>
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.nav -->
    <header class="header">
        <div class="container container--center">
            <div class="header__content">
                <h2 class="header__title">Заголовок</h2>
                <p class="header__text">Информация</p>
                <button class="header__btn">читать подробнее</button>
            </div>
        </div>
        <!-- /.container -->
    </header>
    <!-- /.header -->
    <main class="main">
        <div class="container">
            <div class="main__box"></div>
            <!-- /.main__box -->
            <div class="main__box"></div>
            <!-- /.main__box -->
            <div class="main__box"></div>
            <!-- /.main__box -->
        </div>
        <!-- /.container -->
    </main>
    <!-- /.main -->
    <footer class="footer">
        <div class="container">
            <p>footer</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- /.footer -->
</body>

</html>