<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dist/css/main.css">
	<title>Абитуриентам</title>
</head>
<body>
	
	<main class="enrollee">
		
		<div class="container-grid" id="skrollr-body">

			<div class="main-bg-white"></div>

			<div class="main-animation_ball"></div>

			<div class="bg-header-main"></div>
			<header class="header header-color-reverse">
	            <div class="header__logo">
	                <a href="#">
	                    <img src="./img/logo-white.svg">
	                </a>
	            </div>
	            <div class="header__nav-adaptive">
	                <div></div>
	                <div></div>
	                <div></div>
	            </div>
	            <ul class="header__nav">
	                <li>
	                    <a href="">Новости</a>
	                </li>
	                <li>
	                    <a href="">О нас</a>
	                </li>
	                <li>
	                    <a href="">Доска объявлений</a>
	                </li>
	                <li>
	                    <a href="">Программы обучения</a>
	                    <img src="./img/icons/header__arrow-white.svg">
	                </li>
	                <li>
	                    <a href="">Студентам</a>
	                </li>
	                <li>
	                    <a href="">Абитуриентам</a>
	                </li>
	                <li>
	                    <a href="">Структура школы</a>
	                    <img src="./img/icons/header__arrow-white.svg">
	                </li>
	                <li>
	                    Ru
	                    <img src="./img/icons/header__arrow-white.svg">
	                </li>
	                <li>
	                    <img src="./img/icons/icon-search-white.svg">
	                </li>
	            </ul>
	        </header>
	        <div class="title-header-main">
	        	<p>Абитуриентам</p>
	        </div>
	        <div class="image-header-main">
	        	<img src="./img/header-main-images/kuzmin.jpg">
	        </div>
	        <div class="header-main-links">
	        	<a href="#admission-rules-anchor">Правила приёма</a>
	        	<a href="#programs-anchor">Программы</a>
	        	<a href="#selection-committee-anchor">Приёмная комиссия</a>
	        </div>

	        <div 
	        data-0="top:5em;" data-top="top:-5em;"
	        class="enrollee__center-lines enrollee__center-lines-1 js-horizontal-parallax-center-arrow"
	        >
	            <img src="./img/enrollee/orange-lines/center-1.svg">
	        </div>

	        <div 
	        data-0="top:5em;" data-top="top:-5em;"
	        class="enrollee__center-lines enrollee__center-lines-2 js-horizontal-parallax-center-arrow"
	        >
	            <img src="./img/enrollee/orange-lines/center-2.svg">
	        </div>

	        <div 
	        data-0="top:5em;" data-top="top:-5em;"
	        class="enrollee__center-lines enrollee__center-lines-3 js-horizontal-parallax-center-arrow"
	        >
	            <img src="./img/enrollee/orange-lines/center-3.svg">
	        </div>

	        <div 
	        data-0="top:5em;" data-top="top:-5em;"
	        class="enrollee__orange-lines enrollee__orange-lines__left-1 js-horizontal-parallax-orange-arrow"
	        >
	            <img src="./img/enrollee/orange-lines/left-1.svg">
	        </div>

	        <div
	        data-0="top:5em;" data-top="top:-5em;" 
	        class="enrollee__orange-lines enrollee__orange-lines__left-2 js-horizontal-parallax-orange-arrow"
	        >
	            <img src="./img/enrollee/orange-lines/left-2.svg">
	        </div>

	        <div 
	        data-0="top:5em;" data-top="top:-5em;"
	        class="enrollee__orange-lines enrollee__orange-lines__right-1 js-horizontal-parallax-orange-arrow"
	        >
	            <img src="./img/enrollee/orange-lines/right-1.svg">
	        </div>

	        <div 
	        data-0="top:5em;" data-top="top:-5em;"
	        class="enrollee__orange-lines enrollee__orange-lines__right-2 js-horizontal-parallax-orange-arrow"
	        >
	            <img src="./img/enrollee/orange-lines/right-2.svg">
	        </div>

	        <div
	        data-0="top:5em;" data-top="top:-5em;"
	        class="enrollee__orange-lines enrollee__orange-lines__right-3 js-horizontal-parallax-orange-arrow"
	        >
	            <img src="./img/enrollee/orange-lines/right-3.svg">
	        </div>

	        <div class="enrollee__orange-lines enrollee__orange-lines__right_adaptive-1">
	            <img src="./img/enrollee/orange-lines/right-adaptive.svg">
	        </div>

	        <div class="enrollee__orange-lines enrollee__orange-lines__right_adaptive-2">
	            <img src="./img/enrollee/orange-lines/right-adaptive.svg">
	        </div>

	        <div class="enrollee__orange-lines enrollee__center-lines__adaptive">
	            <img src="./img/enrollee/orange-lines/center-adaptive.svg">
	        </div>


	        <div class="enrollee__start-arrow">
	        	<img src="./img/arrows/arrow-type-1.svg">
	        </div>

	        <div class="start-text-page enrollee__title-text">
	        	<p>Опубликована новая редакция правил приёма в МФТИ по программам бакалавриата и специалитета на 2021 год. В дальнейшем возможна корректировка и уточнение данных правил в соответствии с федеральными законами, приказами и разъяснениями Минобрнауки.</p>
	        </div>

	        <div class="title-point-page enrollee__title-admission-rules" id="admission-rules-anchor">
	        	<p>Правила приёма</p>
	        </div>

	        <div class="enrollee__admission-rules">
	        	<ul>
	        		<li>
        			<img src="./img/enrollee/admission-rules-li.svg">
	        		Приём документов будет осуществляться как в электронной форме: посредством личного кабинета абитуриента на сайте приёмной комиссии, либо через госуслуги, так и лично.</li>
	        		<li>
        			<img src="./img/enrollee/admission-rules-li.svg">
	        		Вступительные испытания для иностранных граждан и других категорий пройдут с применением дистанционных технологий с обязательной идентификацией личности поступающих, начало приёмной кампании в данный момент остаётся прежним, 18 июня. Сроки окончания приёмной кампании и даты зачисления зависят от сроков проведения ЕГЭ, которые в данный момент ещё не установлены Министерством просвещения и Рособрнадзором</li>
	        		<li>
        			<img src="./img/enrollee/admission-rules-li.svg">
	        		Количество вступительных испытаний осталось неизменно. В данный момент нормативной базы, позволяющей изменять их, не предусмотрено.</li>
	        	</ul>
	        </div>

	        <div class="enrollee__text-after-admission-rules main-text-page">
	        	<p>К 1 июня планируется публикация точных сроков приёмной кампании и даты проведения вступительных испытаний. С актуальной информацией о поступлении всегда можно ознакомиться на сайте aaa.ru<br> Кроме этого, предлагаем вам ознакомиться с нашей брошюрой для абитуриентов. В ней рассказано про поступление и обучение на ФФФФ, про наши базовые кафедры, а также про студенческую жизнь на факультете.</p>
	        </div>

	        <div class="enrollee__link-after-admission-rules main-link-app">
	        	<a href="#">
	        		Брошюра для абитуриентов
	        		<img src="./img/icons/links-arrow.svg">
	        	</a>
	        </div>

	        <div class="title-point-page enrollee__selection-committee-title" id="selection-committee-anchor">
	        	<p>Приёмная комиссия</p>
	        </div>

	        <div class="main-text-page enrollee__selection-committee-text">
	        	<p>Приемная комиссия физтех-школы биологической и медицинской физики (ФФФФ) расположена в Главном корпусе (ГК) МФТИ, 5 этаж, 531 аудитория. Рабочее время <br> комиссии — с 9:00 до 16:00 каждый будний день. Помимо подачи заявлений, там вы сможете получить ответы на наиболее интересующие вопросы о процессе поступления, физтех-школе, а также пообщаться со студентами и дирекцией ФФФФ.</p>
	        </div>

	        <div class="enrollee__selection-committee-link main-link-app">
	        	<a href="#">
	        		Связаться с приёмной комиссией
	        		<img src="./img/icons/links-arrow.svg">
	        	</a>
	        </div>

	        <div class="enrollee__selection-committee-image">
	        	<img src="./img/enrollee/selection-committee-image.png">
	        </div>

	        <div class="main-feedback-block enrollee__feedback">
	        	<form class="feedback__form">
	                <label for="">Будьте в курсе последних событий в Школе</label>
	                <input type="text" placeholder="Ваш e-mail">
	                <button type="submit">Подписаться</button>
	            </form>
	        </div>

	        <div class="title-point-page enrollee__educational-programs-title" id="programs-anchor">
	        	<p>Образовательные программы ФФФФ</p>
	        </div>

	        <div class="title-point-page enrollee__educational-programs-title-mobile">
	        	<p>Программы ФФФФ</p>
	        </div>

	        <div class="enrollee__image-educational-programs">
	        	<img class="desc" src="./img/enrollee/educational-programs.svg">
	        	<img class="adaptive" src="./img/enrollee/educational-programs-mobile.svg">
	        </div>

	        <div class="main-link-app enrollee__educational-programs-link-1">
	        	<a href="#">
	        		Бакалавриат
	        		<img src="./img/icons/links-arrow.svg">
	        	</a>
	        </div>

	        <div class="main-link-app enrollee__educational-programs-link-2">
	        	<a href="#">
	        		Магистратура
	        		<img src="./img/icons/links-arrow.svg">
	        	</a>
	        </div>

	        <div class="main-link-app enrollee__educational-programs-link-3">
	        	<a href="#">
	        		Аспирантура
	        		<img src="./img/icons/links-arrow.svg">
	        	</a>
	        </div>

	        <div class="title-point-page enrollee__applied-math-title">
	        	<p>Прикладная Математика И Физика</p>
	        </div>

	        <div class="main-text-page-second enrollee__applied-math-text">
	        	<p>Набор на ФФФФ в бакалавриат ведется по направлению 03.03.01 «Прикладные математика и физика» внутри конкурсных групп:</p>
	        </div>

	        <div class="main-white-block-description enrollee__applied-math-description-math">
	        	<div class="title">1. «Медицинская физика и информатика» </div>
	        	<ul>
	        		<li>— 36 бюджетных мест</li>
	        		<li>— 20 мест на договорной основе.</li>
	        	</ul>
	        </div>

	        <div class="title-point-page enrollee__title-biotechnology">
	        	<p>Биотехнология</p>
	        </div>

	        <div class="main-text-page-second enrollee__text-biotechnology">
	        	<p>Набор на направление 19.03.01 «Биотехнология» осуществляется внутри трех конкурсных групп  «Биомедицинские технологии», «Биомедицинская инженерия», «Biomedical Engineering:</p>
	        </div>

	        <div class="main-white-block-description enrollee__biotechnology-description-1">
	        	<div class="title">1. «Биомедицинские технологии»</div>
	        	<ul>
	        		<li>— 39 бюджетных мест;</li>
	        		<li>— 20 мест на договорной основе.</li>
	        	</ul>
	        </div>

	        <div class="main-white-block-description enrollee__biotechnology-description-2">
	        	<div class="title">2. «Биомедицинская инженерия»</div>
	        	<ul>
	        		<li>— 2 места на договорной основе.</li>
	        	</ul>
	        </div>

	        <div class="main-white-block-description enrollee__biotechnology-description-3">
	        	<div class="title">3. “Biomedical Rngineering”</div>
	        	<ul>
	        		<li>— 6 мест на договорной основе</li>
	        	</ul>
	        </div>



	        <footer class="footer enrollee__footer">
	            <div class="footer__logo">
	                <a href="">
	                    <img src="./img/logo-white.svg">
	                </a>
	            </div>

	            <a href="#" class="footer__link footer__link-1">Новости</a>
	            <a href="#" class="footer__link footer__link-2">О нас</a>
	            <a href="#" class="footer__link footer__link-3">Доска объявлений</a>
	            <a href="#" class="footer__link footer__link-4">Студентам</a>
	            <a href="#" class="footer__link footer__link-5">Программы обучения</a>
	            <a href="#" class="footer__link footer__link-6">Абитуриентам</a>
	            <a href="#" class="footer__link footer__link-7">Структура школы</a>

	            <div class="footer__copyright">
	                © 2001-2021 Московский физико-технический институт (национальный исследовательский университет) 
	            </div>

	            <div class="footer__social_networks">
	                <a href="">
	                    <img src="./img/icons/social-networks/youtube.svg">
	                </a>
	                <a href="">
	                    <img src="./img/icons/social-networks/facebook.svg">
	                </a>
	                <a href="">
	                    <img src="./img/icons/social-networks/instagram.svg">
	                </a>
	            </div>

	        </footer>

		</div>

	</main>

<script src="./dist/js/horizontal-parallax.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
<script src="./dist/js/main-animation_ball.js"></script>

<script src="./vendor/scrollr/scrollr.js"></script>
<script>
	(function() {
		if (window.screen.width > 999) {
			skrollr.init();
		}
	})()
</script>


</body>
</html>
