:root {

	// region font-family
	--ff_bold: 'bold';
	--ff_regular: 'regular';
	// --ff_light: 'light';
	// --ff_medium: 'medium';

	// main color app
	--main-app-color:#133054;
	--bgc-index:#F1F1F4;


	// region color index title section
	--color_main_title: #133054;


	--news-point-hover:#F9C113;
	--bg-cookie:#E0E2E8;

	--light-gray:#F1F1F5;
	--white:#fff;
	--black:#000;
}
