@font-face {
  font-family: "bold";
  font-style: normal;
  font-weight: normal;
  src:  url("./../../fonts/StyreneAWeb-Bold.woff") format("woff");
}
@font-face {
  font-family: "regular";
  font-style: normal;
  font-weight: normal;
  src:  url("./../../fonts/StyreneAWeb-Regular.woff") format("woff");
}

// @font-face {
//   font-family: "light";
//   font-style: normal;
//   font-weight: normal;
//   src:  url("./../../fonts/Roboto-Light.woff") format("woff");
// }
// @font-face {
//   font-family: "medium";
//   font-style: normal;
//   font-weight: normal;
//   src:  url("./../../fonts/Roboto-Medium.woff") format("woff");
// }