@media screen and (max-width: 1000px) {
	.footer {
		height: 85em;
		column-gap:0;
		grid-template-columns: repeat(20, 5em);
		grid-auto-rows: 5em;
		&__logo {
			grid-column: 3 / 8;
			grid-row: 3 / 5;
			// align-self:center;
			// margin-top: 1.25em;
			a {
				img {
					width: 18em;
					height: 18em;
				}
			}
		}
		&__link {
			font-size: 3.25em;
			line-height: 4.25rem;
			&-1 {
				grid-column: 3 / 10;
				grid-row: 6 / 7;
				margin-top: 0;
			}
			&-2 {
				grid-column: 3 / 10;
				grid-row: 8 / 9;			
			}
			&-3 {
				grid-column: 3 / 10;
				grid-row: 10 / 11;
			}
			&-4 {
				margin-left: 0;
				margin-top: 0.5em;
				grid-column: 3 / 10;
				grid-row: 11 / 13;
				align-self:center;
				justify-self: start;
			}
			&-5 {
				margin-top: 0.25em;
				margin-left: 1.5em;
				grid-column: 10 / 19;
				grid-row: 6 / 7;
			 	justify-self: start;			
			}
			&-6 {
				margin-left: 0;
				margin-top: 0;
				grid-column: 11 / 19;
				grid-row: 8 / 9;	
			 	justify-self: start;		
			}
			&-7 {
				margin-top: -0.25em;
				margin-left: 0;
				grid-column: 11 / 19;
				grid-row: 10 / 11;
			 	justify-self: start;		
			}
		}
		&__social_networks {
			grid-column: 11 / 19;
			grid-row: 11 / 13;
			margin-left: 0;
			margin-top: 4em;
			justify-self: start;
			a {
				margin-left: 0;
				margin-right: 2.1375em;
				img {
					width: 6.25em;
					height: 6.25em;
				}
			}
		}
		&__copyright {
			grid-column: 3 / 19;
			grid-row: 15 / 17;
			align-self: center;
			font-size: 2.6em;
			margin-top: -1em;
			line-height: 4rem;
		}
	}

}