*
    margin: 0
    padding: 0


body
    font-family: Arial, Helvetica, sans-serif
    color: #3b3c46


a
    text-decoration: none


li
    list-style: none
    text-transform: uppercase

#wrapper
    position: relative
    min-height: 100%

footer
    display: block
    height: 40px
    color: #3d4b5c
    background: #1b2b40


.container
    width: 960px
    margin: 0 auto

.content_flex
    display: flex


.indent
    margin-bottom: 40px

.circle.wow
    float: left
    width: 100px
    height: 100px
    line-height: 100px
    text-align: center
    font-size: 20px
    color: white
    background: black
    border-radius: 50%