*
    margin: 0
    padding: 0


body
    font-family: Arial, Helvetica, sans-serif
    color: #3b3c46


a
    text-decoration: none


li
    list-style: none
    text-transform: uppercase

#wrapper
    position: relative
    min-height: 100%

header
    height: 100vh

main
    height: 100%

header,
main,
footer
    width: 100%

footer
    display: block
    height: 40px
    color: #3d4b5c
    background: #1b2b40

.container
    width: 960px
    margin: 0 auto
    //background: green

.content_flex
    display: flex

.indent
    margin-bottom: 40px