.main
    &__title
        text-align: center
        color: #172b53
    .course
        display: flex
        margin-top: 20px
        &__img
            width: 330px
            height: 230px
        &__article
            width: 630px
        &__title
            text-align: center
        &__link
            color: #172b53
        &__text
            color: #495878