@media screen and (min-width: 1181px)
    .page__btn
        transition: 0.5s
        transform: scaleX(0)
    .page__sidebar
        transition: 0.5s
        transform: scaleX(1)
    
@media screen and (max-width: 1180px)
    .page__btn
        transition: 0.5s
        transform: scaleX(1)
    .page__sidebar
        transition: 0.5s
        transform: scaleX(0) translateX(-30%)
        opacity: 0
    .page__sidebar_active
        transform: scaleX(1) translateX(0%)
        opacity: 1

@media screen and (min-width: 1085px)
    .nav
            justify-content: flex-end

@media screen and (max-width: 1084px)
    .container
        //background: grey
    .navbar
        min-width: 100%
        flex-direction: column
        &__logo
            width: 100%
            text-align: center
            //background: blue
        &__nav
            min-width: 100%
            //background: #777777
        .nav
            justify-content: center

@media screen and (max-width: 960px)
    .container
        width: 100%
    .bg-mac
        width: 80%
        margin: 0 auto

@media screen and (min-width: 757px)
    .bg-mac
        //background: #000
        &__code
            top: 10%
            height: 80%

@media screen and (max-width: 756px)
    .nav
        max-width: 100%
    .bg-mac
        max-width: 80%
        //background: #ccc
        &__code
            top: 7.9%
            max-width: 100%
            max-height: 100%
            background: #ccc

@media screen and (min-width: 500px)
    .main
        &__section
            .course
                &__img
                    width: 330px
                &__article
                    width: 630px

@media screen and (max-width: 499px)
    .navbar
        &__logo
            /**/
        .nav
            &__item
                width: 100%
                margin-right: 0
                background: yellow
    .main
        border: 1px solid black
        &__section
            .course
                width: 100%
                flex-direction: column
                align-items: stretch
                &__icon
                    max-width: 100%
                .icon
                    &__img
                        flex: 1
                &__article
                    flex: 1