<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Пенькоф</title>
</head>
<body>
    <header class="header">
        <div class="container menu_hide">
            <div class="header-wrap">
                <div class="logo">Пенькоф</div>
                <!-- /.logo -->
                <nav class="nav">
                    <a href="" class="nav__link">Банки</a>
                    <a href="" class="nav__link">Чулки</a>
                    <a href="" class="nav__link">Под подушкой</a>
                    <a href="" class="nav__link">Страховка</a>
                    <a href="" class="nav__link">Кэшбэк</a>
                </nav>
                <!-- /.nav -->
                <a href="" class="login">Войти</a>
            </div>
            <!-- /.header-wrap -->
        </div>
        <!-- /.container -->
    </header>
    <section class="section">
        <div class="container">
            <div class="tabs">
                <h1 class="tabs-logo">Penkoff Blank</h1>
                <!-- /.tabs-logo -->
                <ul class="tabs-menu">
                    <li class="tabs-menu__item">Обзор</li>
                    <!-- /.tabs-menu__item -->
                    <li class="tabs-menu__item">Примеры</li>
                    <!-- /.tabs-menu__item -->
                    <li class="tabs-menu__item">Документы</li>
                    <!-- /.tabs-menu__item -->
                    <li class="tabs-menu__item">Как пользоваться</li>
                    <!-- /.tabs-menu__item -->
                </ul>
                <!-- /.tabs-menu -->
            </div>
            <!-- /.tabs -->
            <div class="tabs-content">
                <h2 class="tabs-content__title">Храните деньги в банке <br> это надёжно и безопасно</h2>
                <!-- /.tabs-content__title -->
                <p class="tabs-content__text">Вы можете быть уверены, что ваше деньги в надёжном месте, если они в&nbsp;трёхлитровой банке</p>
                <!-- /.tabs-content__text -->
                <button class="button">Заказать банку</button> <!-- /.button -->
            </div>
            <!-- /.tabs-content -->
        </div>
    </section>
    <section class="features">
        <div class="container">
            <h2 class="section-title section__title">Трёхлитровая банка с  двойным дном</h2>
            <div class="card card-full card_bottom">
                <h3 class="card__title">Часть денег проваливается на дно</h3>
                <p class="card__text">К концу месяца у вас накапливается сумма 10% от&nbsp;всех пополнений. Можно смело тратить их на мечту</p>
            </div>
            <!-- /.card card-full -->
            <div class="card-wrap">
                <div class="card section__card">
                    <h3 class="card__title">Деньги дома</h3>
                    <!-- /.card__title -->
                    <p class="card__text">Когда Деньги лежат дома, у вас просто нет возможности потратить их на всякую ерунду</p>
                    <!-- /.card__text -->
                </div>
                <!-- /.card -->
                <div class="card section__card">
                    <h3 class="card__title">Без комиссии</h3>
                    <!-- /.card__title -->
                    <p class="card__text">Пополните банку без комиссии. Доставать деньги можно также без комисси и штрафов</p>
                    <!-- /.card__text -->
                </div>
                <!-- /.card -->
                <div class="card section__card">
                    <h3 class="card__title">Копейка рубль бережёт</h3>
                    <!-- /.card__title -->
                    <p class="card__text">Вы можете бросать в банку даже мелочь после покупак, которая завалялась в кармане</p>
                    <!-- /.card__text -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.card-wrap -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.features -->
    <section class="best">
        <div class="container">
            <h2 class="section-title">Лучшая банка в мире</h2>
            <!-- /.section-title -->
            <span class="section-subtitle">По версии мамы, бабушки и тёти</span>
            <!-- /.section-subtitle -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.best -->
    <script src="js/modernizr-custom.js"></script>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/script.js"></script>
</body>
</html>