* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header,
main,
footer {
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    margin: 0 auto;
}

.container--center {
    justify-content: center;
}

.nav {
    position: sticky;
    top: 0;
    background-color: #838b98;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.nav__item {
    padding: 0 10px;
}

.nav__link {
    color: #ffffff;
}

.header__content {
    text-align: center;
    width: 800px;
    height: 500px;
    padding-top: 500px;
    padding: 10px;
    overflow: auto;
    border: 1px solid black;
    background: url(../img/header_content_2.jpg) no-repeat;
    background-size: cover;
}

.header__title {
    margin-top: 150px;
}
.header__text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.header__btn {
    width: 200px;
    margin: 0 auto;
    padding: 15px 5px;
    border-radius: 10px;
    font-size: 17px;
    color: #ffffff;
    background-color: #838b98;
    border: none;
    outline: none;
}


.main {
    flex-grow: 1;
}

.main__box {
    width: 100%;
}
.main__box--small {
    width: 30%;
    background: #838b98;
}

footer {
    color: #ffffff;
    background-color: #525252;
}

.footer__text {
    padding: 10px 0;
}