$accent: #D7B399
$light: #F9F6F1
$gray: #cbcfd4
$light-gray: #f4f4f4
$dark: #212121
$dark-gray: #8d8d8d
$important: #d84033

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Montserrat', sans-serif

ul
    list-style: none

.page
    padding-top: 100px
    padding-bottom: 129px
    &-light
        background-color: $light
    &-dark
        background-color: $dark

.wrapper
    max-width: 1110px
    margin: 0 auto
    padding-left: 15px
    padding-right: 15px

.title-h2
    margin-top: 54px
    text-align: center
    font-size: 36px
    text-transform: uppercase

.btn
    background-color: $accent
    color: #ffffff
    font-size: 16px
    text-transform: uppercase
    text-decoration: none
    padding: 18px 28px
    &-xs
        padding: 5px 28px
    &-center
        display: block
        text-align: center
        max-width: 217px
        margin: 0 auto
        span
            margin-right: 15px

// header 
.header
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 26px
    padding-top: 46px
    &__logo
        margin-right: 0px

.nav
    &__list
        position: relative
        left: 0px
        display: flex
        list-style: none
        padding-left: 0
    &__item
        margin-right: 35px
    &__link
        color: $dark
        text-decoration: none

.card
    background-image: url(../img/header/basket.svg)
    display: block
    padding-left: 45px
    width: 30px
    height: 30px
    background-repeat: no-repeat
    background-position: 0 center
    &-count
        background-image: url(../img/header/group.png)
        background-repeat: no-repeat
        background-position: 0 center
        color: #ffffff
        font-size: 12px
        font-weight: 700
        margin-top: 10px
        padding: 1px 25px
        display: block

// main 

.main
    display: flex
    justify-content: space-between
    &__item
        flex: 0 0 50%

.sale
    &__description
        font-size: 30px
        letter-spacing: -0.6px
        margin-top: 34px
    &__title
        font-size: 55px
        font-weight: 700
        margin-top: 30px
        margin-bottom: 60px

.box
    position: relative
    &-price
        position: absolute
        top: 35px
        right: 0
        text-align: right
        &-old
            font-size: 24px
            font-weight: 700
            text-decoration: line-through
        &-new
            font-size: 42px
            font-weight: 700
            color: $important
            margin-top: 17px

.notice
    text-align: center
    padding: 64px 0 73px
    color: #ffffff
    &__title
        font-size: 30px
        text-transform: uppercase
        font-weight: 400
        span
            font-weight: 700
    &__description
        font-size: 21px

.collection
    display: flex
    justify-content: space-between
    padding-top: 18px
    &__item
        flex: 0 0 50%
        margin-left: 22px
        padding: 43px 0 63px
        background-size: 190px 171px
        background-repeat: no-repeat
        background-position: calc(100% - 37px) bottom
    &__man
        background-image: url('../img/man.png')
    &__woman
        background-image: url('../img/woman.png')
    &__title
        margin-bottom: 19px
        font-size: 24px
        font-weight: 300
        text-transform: uppercase
    &__description
        margin-bottom: 43px
        font-size: 16px

.product
    display: flex
    justify-content: space-between
    text-align: center
    margin-top: 100px
    margin-bottom: 124px
    &__item
        flex: 0 0 24%
        position: relative
        &::before,
        &::after
            content: ""
            display: block
            width: 100%
            height: 25px
            background-repeat: no-repeat
            background-position: 0% 0%, 100% 0%
        &::before
            background-image: url('../img/border_left_top.png'), url('../img/border_right_top.png')
        &::after
            position: absolute
            top: 100%
            background-image: url('../img/border_left_bottom.png'), url('../img/border_right_bottom.png')
    &__title
        font-weight: 600
        margin-top: 23px
        margin-bottom: 0
    &__price
        color: $accent
        font-size: 18px
        font-weight: 700
        margin-top: 10px
        margin-bottom: 0

.footer
    display: flex
    justify-content: space-between
    margin-top: 23px
    padding: 72px 0
    &__logo
        flex: 0 0 40%
    &__nav
        flex: 0 0 64%
        display: flex
        justify-content: space-between
        color: #ffffff
    &__list
        list-syle-type: none
        padding-left: 0
    &__title
        margin-bottom: 12px
        font-size: 12px
        font-weight: 700
    &__item
        padding-top: 5px
        padding-bottom: 5px
    &__link
        color: $gray
        text-decoration: none
        font-size: 14px
