*
    margin: 0
    padding: 0

body
    font-family: "Open Sans", sans-serif
    font-weight: 300

a
    text-decoration: none

ul
    list-style: none


.title
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    text-transform: uppercase

.nav
    position: sticky
    top: 0